.team-list-container {
    padding: 20px;
    background-color: #111;
    color: white;
    max-height: 80vh;
    /* 최대 높이 설정 */
    overflow-y: auto;
    /* 세로 스크롤 허용 */
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.team-section {
    margin-top: 20px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* 줄 바꿈 허용 */
    justify-content: center;
    gap: 20px;
}

.team-item {
    text-align: center;
    width: calc(19.66% - 20px);
    /* 6개씩 배치하기 위한 너비 계산 */
    cursor: pointer;
    /* 클릭 가능 표시 */
}

.team-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-form-btn {
    background-color: aquamarine;
    width: 170px;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 34px;
    border:none;
    top: 0px;
    font-size: 16px;
    margin-right: 5px;
}