.createroom{
    
    .contents-box{
        height:calc(100% - 48px);
        min-height: calc(100vh - 80px - 24px * 2 - 60px);
    }
}
.prev-img-area{
    position:relative;
    height:1px;
    width:100%;
    padding-bottom:100%;
    border-radius: $G-border-radius;
    overflow: hidden;
    background:$G-black;

    img{
        position:absolute;
        width:100%;
        height:100%;
        object-fit: cover;
    }
    
}

@media (max-width: 767px){
    .createroom .contents-box{
        height:auto;
        min-height:0;
    }
    .input-box{
        margin-top:0;
    }
    .createroom .btns-wrap{
        display:flex;
        padding-bottom:24px;
        .btn-default{
            min-width:100px;
        }
        .btn-primary{
            flex: 1 1 auto;
        }
    }
}