
.artist-detail-container{
    padding: 20px;
    background-color: rgba(25, 28, 36, 1);
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    width: 100%;
}

.update-form-btn {
    background-color: #EAB70E;
    color: white;
    text-align: center;
    font-size:12px;
    height: 50px;
    width: 100px;
    margin: 20px 10px;
    border: none;
    font-weight: bold;
}

.update-btn{
    background-color: #EAB70E;
    color: white;
    text-align: center;
    font-size:12px;
    height: 50px;
    width: 100px;
    margin: 20px 10px;
    border: none;
    font-weight: bold;
}

.delete-btn{
    background-color: red;
    color: white;
    text-align: center;
    font-size:12px;
    height: 50px;
    width: 100px;
    margin: 20px 10px;
    border: none;
    font-weight: bold;
}

.list-btn{
    background-color: grey;
    color: white;
    text-align: center;
    font-size:12px;
    height: 50px;
    width: 100px;
    margin: 20px 10px;
    border: none;
    font-weight: bold;
}

.artist-img{
    width: 300px;
    display: flex;
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬합니다. */
}

.detail-is {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 20px;
    height: 100%;
    width: 100%;
}
.detail-is .detail-text{
    width: 400px;
    margin-left: 50px;
}

.detail-is .btns{
    margin-left: 50px;
}

.detail-text h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: #EAB70E;
}
