//경로
$G-path-img : '/images';
$G-path-font: '/fonts';

//기본색상
$G-main-color: #FFC700;

$G-white: #ffffff;
$G-lighten-black : rgba(#96A1BE, 0.1);


$G-black: #000;
$G-box-bg: #191C24;
$G-darken-black:#0F1015;


$G-font-color:rgba($G-white, 0.9);
$G-font-darken: #6C7293;

//레이아웃 색상
$G-bg-contents:$G-black;
$G-border-color: #2C2E33;

//전체 컴포넌트 기본 셋팅
$G-border-radius: 8px;

// 전체 레이아웃
$G-container-padding:20px;
$G-sidebar-full-w: 300px;
$G-sidebar-min-w: 80px;
$G-header-top: 80px;

//font-size
$G-font-size: 16px;
$G-font-size-sm: 12px;
$G-font-size-md: 14px;

$G-font-size-lg: 20px;
$G-font-size-xl: 24px;

//font-face
@font-face{
    font-family: 'NotoSansKoreanDR';
    font-style: normal;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url('../fonts/NotoSansKR-DemiLight-Hestia.woff') format('woff');
}
@font-face{
    font-family: 'NotoSansKoreanR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('../fonts/NotoSansKR-Regular-Hestia.woff') format('woff');
}

@font-face{
    font-family: 'NotoSansKoreanM';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url('../fonts/NotoSansKR-Medium-Hestia.woff') format('woff');
}

@font-face{
    font-family: 'NotoSansKoreanB';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('../fonts/NotoSansKR-Bold-Hestia.woff') format('woff');
}

//font-family
$G-font-DR: NotoSansKoreanDR;
$G-font-R: NotoSansKoreanR;
$G-font-M: NotoSansKoreanM;
$G-font-B: NotoSansKoreanB;
//$G-font-family: NotoSansKoreanR, 'Noto Sans KR', '본고딕', 'Apple SD Gothic Neo', 'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;



