
.whole-page{
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    height: 100vh; /* 전체 높이를 사용 */
    padding: 30px;
    gap: 30px;
}
.page {
    display: flex;
    height: calc(100vh - 100px); /* 네비게이션 바의 높이를 제외한 나머지 공간 */
    flex: 1; /* 남은 공간을 모두 차지 */
    gap: 30px;
    flex-direction: row; /* 기본적으로 가로 배치 */
}

@media (max-width: 1400px) { /* 화면이 좁아질 때 세로로 배치 */
    .page {
        flex-direction: column;
        height: 100vh; /* 전체 높이로 설정 */
    }
    .left-column,
    .right-column {
        width: 100%; /* 각 컬럼이 전체 너비 차지 */
        height: auto; /* 높이 자동 조정 */
    }
}

 .team-profile {
     padding: 20px 40px;
     display: flex;
     width: 100%;
     background-color: rgba(25, 28, 36, 1);
     border-radius: 7px;
 }
 .team-profile .team-name {
     flex: 1;
     font-size: 20px;
     margin-bottom: 15px;
 }

 .team-profile .member-info{
     margin-left: 40px;
     flex-direction: column;
 }

 .team-profile .member-info .member-photo {
     height: 100px;
     width: 100px;
     border-radius: 100px;
     background-color: wheat;
     text-align: center; /* 텍스트를 수평 가운데 정렬 */
     display: flex; /* flexbox 활성화 */
     align-items: center; /* 수직 가운데 정렬 */
     justify-content: center; /* 수평 가운데 정렬 */
 }

 .team-profile .member-info .member-name {
     margin-top: 15px;
 }

.left-column {
    flex: 1;
    padding: 20px 40px;
    background-color: rgba(25, 28, 36, 1);
    /*box-sizing: border-box;*/
    border-radius: 7px;
    height: 100%; /* 부모의 높이에 맞춤 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}
.left-column::-webkit-scrollbar {
    display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}
.left-column .artist-board-wrap{
    display: flex;
    flex-direction: column;

}

.left-column .artist-board-wrap .board-title, .boardnotice-title, .fanboard-title{
    font-size: 20px;
    margin-bottom: 30px;
    justify-content: center;
}
.left-column .artist-board-wrap .new-post-wrap {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    padding: 0 25px 50px 25px;
    height: 150px;
}
.left-column .artist-board-wrap .new-post-wrap .writing-box {
    display: flex;
    flex: 1;
}
.left-column .artist-board-wrap .board-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.left-column .artist-board-wrap .board-content .content-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left-column .artist-board-wrap .board-content .content-left .writer-photo{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: wheat;
    text-align: center; /* 텍스트를 수평 가운데 정렬 */
    display: flex; /* flexbox 활성화 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}

.left-column .artist-board-wrap .board-content .content-right {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.left-column .artist-board-wrap .board-content .content-right .content-right-top {
    display: flex;
    justify-content: space-between
}
.left-column .artist-board-wrap .board-content .content-right .content-right-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-column .artist-board-wrap .board-content .content-right .content-right-bottom .content-img {
    width: auto;
    height: 300px;
    background-color: black;
    text-align: center;
}

.right-column {
    width: 500px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* 부모의 높이에 맞춤 */
}

.notice, .fan-board {
    flex: 1;
    padding: 20px 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* 세로 스크롤 가능 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.notice .notice-content-list {
    display: flex;
    justify-content: space-between
}
.notice::-webkit-scrollbar,
.fanBoard::-webkit-scrollbar {
    display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}
.fan-board .fanboard-body {
    display: grid;
    gap: 30px;
}
.fan-board .new-post-wrap {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100px;
}
.fan-board .new-post-wrap .writing-box {
    display: flex;
    background-color: black;
    border: 1px solid rgba(255, 199, 0, 1);
    flex: 1;
    color: white;
    /*align-items: center; !* 수직 가운데 정렬 *!*/
    /*justify-content: center; !* 수평 가운데 정렬 *!*/
}
.fan-board .new-post-wrap .send-post {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    width: 60px;
}
.fan-board .fanboard-content-wrap {
    background-color: rgba(255, 199, 0, 1);
    color: black;
    padding: 15px;
    border-radius: 7px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.fan-board .fanboard-content-wrap .content-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.fan-board .fanboard-content-wrap .content-top .fanname {
    font-size: 20px;
}
.fan-board .fanboard-content-wrap .fanboard-content{
    padding: 10px 20px;
}