.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  color: white;
}

.title {
  font-size: 40px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 40px;
  gap: 15px; /* 이메일 입력란과 버튼 사이의 공간 */
}

.email-input {
  flex: 1;
  padding: 10px;
  background-color: #191C24;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
}

.verify-button {
  padding: 10px;
  background-color: #FFC700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  height: 40px;
  flex-shrink: 0; /* 버튼 크기가 작아지지 않도록 설정 */
}

.input {
  margin: 10px 0; /* 입력란 사이의 간격 */
  padding: 10px;
  background-color: #191C24;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 41px; /* 입력란 높이 */
}

.verify-button:hover {
  background-color: #FFC700;
}

.button {
  padding: 10px;
  width: 100%;
  background-color: #FFC700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  color: black;
  height: 42px;
}

.button:hover {
  background-color: #e6b800;
}

