.bought-content{
    width: 100%;
    /* margin-top: 165px;  */
    text-align: center;
    font-size: 3.0em;
}

.bought-content > div{
    padding-top: 100px;
    /* height: 100%; */
}


.bought-content button {
    width: 170px;
    height: 60px;
    font-size: 0.5em;
    margin: 30px;
    border-radius: 1px;
    font-weight: bold;
}

.bought-content a:first-child button {
    background: #EAB70E;
}

.bought-content a:last-child button {
    color: #000000;
    background: #ffffff;
}