.cart-content{
    margin-top: 100px;
    padding: 0 45px;
}

.cart-content h2{
    font-size: 2em;
    padding: 0;
}

.cart-content-list{
    margin:50px 0;
    width: 90%;
    font-size: 15px;
    line-height: 50px;

}

.cart-content-list *{
    vertical-align:middle;
}

.cart-content-list tr:nth-child(2n-1){
    background-color: #2a2d3ab3;
}

.cart-content-list tr:last-child{
    background-color: #000000;
}

.cart-list-center{
    text-align: center;
}

.total-result{
    padding: 0;
}

.total-result > div{
    margin-bottom: 30px;
    height: 20px;
}

.total-result > div:first-child{
    font-size: 1.1em;
}

.total-result > div:last-child{
    font-size: 1.3em;
}

.cart-content-list > tr:hover{
    color:#EAB70E;
}

.cart-content-list > tr:hover a {
    color: #EAB70E;
}

.cart-content-list tr:last-child:hover {
    color: #ffffff;
}

.cart-list-no{
    width: 50px;
}

.cart-list-file {
    width: 200px;
}

.cart-list-file img{
    height: 100px;
    width: 100px;
    margin: auto 0;
}

.cart-list-name > a{
    text-decoration: none;
    color: #ffffff;
}

.cart-list-price{
    width: 150px;
}

.cart-list-qty{
    width: 100px;
}

.cart-list-qty > input{
    background-color: #00000000;
    color: #ffffff;
    border: none;
    text-align:right;
}

.cart-list-qty input:focus{
    outline: none;
}

.cart-list-delete{
    width: 100px;
}

.delete-icon:hover{
    cursor: pointer;
}

.row > a{
    padding:0;
}

.buying-button {
    width: 170px;
    height: 60px;
    line-height: 60px;
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 34px;
    border:none;
    background-color: #EAB70E;
    color: #000000;
    -webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
    position:  relative;
    top: 0px;
    font-size: 16px;
    margin-right: 5px;
}